<%= form_with model: @currency_pair, local: true do |f| %>
	
	<% if @currency_pair.errors.any? %>
		<div id="error_explanation">
			<h2>
				<%= pluralize(@currency_pair.errors.count, 'error') %> prohibited this currency pair from being saved:
			</h2>
			<ul>
				<% @currency_pair.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<p>
		<%= f.label :name %><br />
		<%= f.text_field :name %> 
	</p>
	<p>
		<%= f.label 'Base currency' %><br />
		<%= f.collection_select(:base_currency_id, Currency.all, :id, :full_name) %>	
	</p>
	<p>
		<%= f.label 'Quote currency' %><br />
		<%= f.collection_select(:quote_currency_id, Currency.all, :id, :full_name) %>	
	</p>
	<p>
		<%= f.submit 'Save currency pair' %>
	</p>

<% end %>