<h1>Show currency pair <%= @currency_pair.name %></h1>

<p>
	Name: <%= @currency_pair.name %>
</p>
<p>
	Base currency: <%= @currency_pair.base_currency.full_name %> (<%= @currency_pair.base_currency.short_name %>)
</p>
<p>
	Quote currency:  <%= @currency_pair.quote_currency.full_name %> (<%= @currency_pair.quote_currency.short_name %>)
</p>

<p>
	<%= link_to 'Edit', edit_currency_pair_path(@currency_pair) %> |
	<%= link_to 'Back to listing currency pairs', currency_pairs_path %>
</p>
<p>
	<%= link_to 'Home page', root_path %>
</p>