<h1>Welcome to Crypto-Analyzer</h1>

<p>
	<%= link_to 'Listing currencies', controller: 'currencies' %><br />
	<%= link_to 'Listing markets', controller: 'markets' %><br />
</p>
<p>
	<%= link_to 'Listing currency pairs', controller: 'currency_pairs' %><br />
	<%= link_to 'Listing market currency pair names', controller: 'market_currency_pair_names' %><br />
</p>
<p>
	<%= link_to 'Listing period quotation type', controller: 'period_quotation_types' %><br />
	<%= link_to 'Listing market period name', controller: 'market_period_names' %><br />
</p>

<p>
	<%= link_to 'Listing market symbol precisions', controller: 'market_symbol_precisions' %><br />
</p>
<p>
	<%= link_to 'Listing quotations', controller: 'quotations' %><br />
</p>
