<h1>Listing markets</h1>

<p>
	<%= link_to 'New market', new_market_path %>
</p>

<table>
	<tr>
		<th>Name</th>
		<th>Website</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>

	<% @markets.each do |market| %>
		<tr>
			<td><%= market.name %></td>
			<td><%= market.website %></td>
			<td><%= market.adapter_name %></td>
			<td><%= link_to 'Show', market_path(market) %></td>
			<td><%= link_to 'Edit', edit_market_path(market) %></td>
			<td><%= link_to 'Destroy', market_path(market), method: :delete, data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>

<p>
	<%= link_to 'Home page', root_path %>
</p>